<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jana.overwatch">

    <uses-sdk android:minSdkVersion="15" android:maxSdkVersion="24"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.BeanListActivity"
            android:label="@string/title_activity_bean_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_NOTIFICATION"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InitialActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DeviceActivity"></activity>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>